<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"></meta>
  <title>Just a website home</title>
</head>

<body>
  {{> header}}
  <p>{{screamIt welcomeMessage}}</p>
<!--screamIt, our function, take one argument. As you can see, in hbs we must pass it through without parenthesis -->
  {{> footer}}

</body>
</html>
