<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8"></meta>
  <title>This is a maintenance page</title>
</head>

<body>
  <p>{{maintenanceMessage}}</p>
<!--screamIt, our function, take one argument. As you can see, in hbs we must pass it through without parenthesis -->

</body>
</html>
