<footer>
  <p>Created by Leigh - Copyright {{getCurrentYear}}</p>
</footer>

<!--
getCurrentYear is a helper function we created in server.js
So instead of passing through the same thing as an object, we write a function once
-->
